.services {
    h1{color: #A9A9A9; text-align: center;}
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 200px;
    height: 250px;
    background-color: #222222;
    color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    text-align: center;
  }

  .card.active {
    background-color: white;
    color: black;
  }
  .label {
    position:absolute;
    // top: -125px;
    // left: 50px;
    // height: 50px;
    background-color: rgb(78, 151, 117);
    color: white;
    padding: 8px 10px;
    font-size: 25px;
    border-radius: 4px;
    z-index: 2;
}
}
